################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShortURL/.vs/ShortURL/v15/Server/sqlite3
